.footer {
  background-color: #252B42;
  padding: 150px 16px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.footer ul li h1 {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: .1px;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer ul li {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: .2px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.footer ul li img {
  width: 46px;
  height: 46px;
}

.footer ul li.social-media {
  display: flex;
  gap: 24px;
}

@media (max-width: 900px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}