* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 3000px;
}

body {
  background-image: url('../assets/hero-bg.png');
  background-size: 100% 930px;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

@media (max-width: 1250px) {
  body {
    background-size: 100% 700px;
  }
}

@media (max-width: 1000px) {
  body {
    background-size: 100% 500px;
  }
}

@media (max-width: 700px) {
  body {
    background-size: 100% 300px;
  }
}