.box-content table {
  width: 100%;
  border-collapse: collapse;
}

.box-content table tr {
  color: #222;
}

.box-content table tr:nth-of-type(1) {
  background-color: #222;
  color: #fff;
}

.box-content table tr td {
  padding: 15px 10px;
}

.box-content table tr {
  border-bottom: 1px solid #222;
}

.box-content table a {
  text-decoration: none;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.box-content table a.btn-edit {
  background-color: #377fff;
  color: #fff;
}

.box-content table a.btn-delete {
  background-color: #ff0000;
  color: #fff;
}